<div>
  <h2>Move cursor over inputs example:</h2>
  <div [formGroup]="userForm">
    <div>
      <label>Firstname: </label>
      <input type="text" formControlName="firstname" [focus]="focusedInputIndex === 0" (keyup)="onMouseEnter($event)"/>
    </div>
    <div>
      <label>Lastname: </label>
      <input type="text" formControlName="lastname" [focus]="focusedInputIndex === 1" (keyup)="onMouseEnter($event)"/>
    </div>
    <div>
      <label>Hobby: </label>
      <input type="text" formControlName="hobby" [focus]="focusedInputIndex === 2" (keyup)="onMouseEnter($event)" />
    </div>
    <button (click)="onSubmit()">Send</button>
  </div>
</div>